@import 'ember-paper';

main {
  min-height: 100vh;
}

.menu{
  list-style: none;
}

.menu li {
  padding: 10px 0;
  // font-size: 10pt;
}

.menu a {
  text-decoration: none;
  color: #000000;
}

span.flex {
  display: flex;
  justify-content: center;
}

.card-box {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.card-inside {
  min-width: 400px;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}