<h1>contacts</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>E-mail</th>
      <th>Message</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |contact|}}
      <tr>
        <th>{{contact.email}}</th>
        <th>{{contact.message}}</th>
      </tr>
    {{/each}}
  </tbody>
</table>