<h2>List</h2>
<div class="layout-row layout-wrap">
  {{#each model as |library|}}
    <div class="flex-33">
      {{#library-item item=library}}
      {{#paper-button}}
        {{#link-to "libraries.edit" 
          library.id 
        }}Edit
        {{/link-to}}
      {{/paper-button}}

      {{#paper-button
        raised  = true
        primary = true
        onClick = (action "deleteLibrary" library)
      }}Delete
      {{/paper-button}}

        {{!-- <button 
          class="btn btn-danger btn-xs" 
          {{action "deleteLibrary" library}}
        > Delete
        </button> --}}
      {{/library-item}}
    </div>
  {{/each}}
</div>