{{#paper-toolbar as |toolbar|}}
  {{#toolbar.tools}}
    {{#paper-sidenav-toggle name="left" as |toggleAction|}}
      {{#paper-button 
        iconButton=true 
        classNames="hide-gt-sm" 
        onClick=(action toggleAction)
      }}
        {{paper-icon "menu"}}
      {{/paper-button}}
    {{/paper-sidenav-toggle}}
    <span class="flex">Library App</span>
  {{/toolbar.tools}}
{{/paper-toolbar}}